@model Projeto.Models.FilmeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilmeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faixa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faixa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
