@model IEnumerable<Projeto.Models.FilmeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-divider table-striped table-sm table-bordered"">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Faixa)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinopse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
            <button type="button" class="btn btn-warning">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
            <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
        </td>
    </tr>
}

</table>
